body {
	font-size:100%;
	font-family:'Lucida Grande',Verdana,sans-serif;
	margin:0.5em;
	background-color: #AAA;
	}
h1{	font-size:150%;}
h2{	font-size:140%;}
h3 {	font-size:120%;}
p {	font-size:100%;	line-height:150%;}	
#wrapper {
	margin:0.5em auto;
	max-width:45em;
	min-width:30em;
}	
header {
	display: block;
	border:3px solid #000;border-radius:1em;-moz-border-radius:1em; background-color: #CFF;
	text-align:center;
	padding:0.5em;

	margin:0 0 0.5em 0;
}
footer {
	display: block;
	border:3px solid #000;border-radius:1em;-moz-border-radius:1em;background-color:#CFF;
	text-align:center;
	clear:both;
	padding:0.5em;
}
#contentwrap{
	float:left;
	width:70%;
}
#sidebarwrap {
	float:left;
	width:30%;
}	

#placeholder{
	max-width:100%;
	}

.center {text-align:center;}
	
nav, section{
	display: block;
	border:2px solid #000; border-radius:1em; -moz-border-radius:1em;
	padding:0 1em 0.5em 1em;
}
section{margin:0 0.5em 0.5em 0;background-color:#FFF;}
nav{margin:0 0 0.5em 0;background-color:#CFF;}

figure {text-align:center}