/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/*TITLE
--------------------------------------------------*/
.title{
	margin-left:10px;
}
.title h1 {
	 font-size: 45px;
}
.title img {
	text-align: default;
	height: 50px;
	width: 50px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 70px;
  left: 80px;
  right: auto;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 0px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top:100px;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  border-style: outset;
  border-width: 3px;
  background-color:rgba(192,192,192,0.5);
  margin-bottom: 60px;
  margin-right: 0px;
  margin-left:350px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px
}
.carousel-caption p{
	text-align:left;
    font-size: 14px;
    line-height: 1.3;
	text-indent:30px;
}

.carousel-caption h5{
	font-size:18px;
	text-align:right;
	 line-height: 1.3;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  overflow: hidden;
}

.carousel-inner > .item > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 30%;
  vertical-align: top;
}
.arrow{
	font-size:150px;
	margin-top:150px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}